<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div id="content-wrapper">
    <footer id="main-footer" class="py-4 bg-primary text-white">
        <div class="container" style="position:relative"></div>
        <div class="container">
            <div class="left">
                <div style="margin-bottom: 0.5rem;">
                    <i class="fas fa-phone"></i> (852)-555-5555
                </div>
                <div style="margin-bottom: 0.5rem;">
                    <i class="fas fa-envelope-open "></i> Email:contact@freelancergo.co
                </div>
            </div>
            <div style="margin-bottom: 0.5rem;">
                <div style="margin-bottom: 0.5rem;">
                    <i class="fa-solid fa-clock"></i> 
                    Office Hours:&nbsp;10:00AM - 7:00PM</div>
                <div class="office_address"><i class="fa-solid fa-location-dot"></i>
                     Address: 100000A, 110/F, Harbor Crytal Centre No. 300 Granville Road, Tsm ha sui East, Hong Kong
                </div>
                <div>
                    <br />
                    <i class="fab fa-twitter fa-lg"></i>
                    <i class="fab fa-facebook fa-lg"></i>
                    <i class="fab fa-linkedin fa-lg"></i>
                    <i class="fab fa-instagram fa-lg"></i>
                    <i class="fab fa-pinterest fa-lg"></i>
                </div>
            </div>
        </div>
        <br />
        <br />
  
        <div class="text-center">
            Copyright &copy;
            <span class="year"></span> Freelance Go
        </div>
    </footer>
</div>
