
<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">
            {% comment %} url {% endcomment %}
        <form method='POST' action= "{% url 'contacts:contact'%}">
        {% csrf_token %}
        {% comment %} value need update {% endcomment %}
        <input type="hidden" name="listing_id" value="{{listing.id}}"/>
        <input 
        type="hidden" 
        name="doctor_email" 
        {% comment %} value {% endcomment %}
        value="{{listing.doctor.email}}"/>
        {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{user.id}}"/>
        {% else %}
        <input type="hidden" name="user_id" value="0"/>
        {% endif %}

            </div>
            <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                class="form-control"
                {% if user.is_authenticated %}
                value="{{user.first_name}} {{user.last_name}}"
                readonly
                {% endif %}
            />
            </div>
            <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <!--prettier-ignore-->
            <input
                type="email"
                name="email"
                class="form-control"
                {% if user.is_authenticated %}
                value="{{user.email}}"
                readonly
                {% endif %}
            />
            </div>
            <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control" />
            </div>
            <div style="margin; 15px 0;">
            <label>Upload CV(PDF/Word,≤10M)</label>
            <input type="file" 
            name="cv_file"
            accept=".pdf,.doc,.docx"
            required>
            </div>
            <button type="submit">Apply</button>
        </form>
        </div>
    </div>
    </div>
</div>