{% extends "base.html" %}
<!--load base-->
{% load static %}
<!--load static -->
{% load humanize %}
<!-- humanize -->
{% block content %}
<br/>
<div>
    <h1 class="text-center">Apply for job</h1>
    <div class="contanier wd-50 mt-5">
        <form class="form-group" method="POST" action="{% url 'applies:apply' %}"
        style="width: 50% ;margin: 40px auto"> 
            {% csrf_token %} 
        <input type="hidden" name="listing_id" value="{{listing.id}}"/>
        <input type="hidden" name="company_email" value="{{listing.company.email}}"/>
        {% if user.is_authenticated %}
        <input type="hidden" name="user_id" value="{{user.id}}"/>
        {% else %}
        <input type="hidden" name="user_id" value="0"/>
        {% endif %}

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" 
                {% if user.is_authenticated %}
                value="{{user.name}}"
                readonly
                {% endif %}>    
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" 
                {% if user.is_authenticated %}
                value="{{user.email}}"
                readonly
                {% endif %} >
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone"
                {% if user.is_authenticated %}
                value="{{user.phone}}"
                readonly
                {% endif %} >
            </div>
            <div style="margin; 15px 0;">
                <label>Upload CV (PDF/Word, ≤10M)</label>
                <div class="form-group">
                <input 
                    type="file" 
                    name="cv_file"
                    accept=".pdf,.doc,.docx"
                    required>
            </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary w-100">Apply</button>
        </form>
    </div>
</div>
</div>
{% endblock %}